<html>
<center>
    <head>
        <title>angelica gestre</title>
        <style>

      h1 {
     color: #000;
     font-family: 'Arial';
     font-size: 30px;
     text-align: center;
     margin: 0px
     midth: 100%'
     }

      p {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  width: 100%;





    	</style>




    </head>
    <body>
    <h1>welcome to my page!</h1>
    <p> hey there! i'm angelica. i'm unsure of what to put in here and also of what i'm going to do with this page. i created this as a part of girls who code so that's exciting!!!</p>

    </body>
</center>
</html>
